* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body {
  background-color: #314466;
  box-shadow: inset 0 0 150px 10px rgba(0, 0, 0, 0.51);
  overflow: hidden;
}
.side-bar {
  background-color: #1f293b;
  color: #f0f0f0;
  width: 70px;
  min-height: 100vh;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.51);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  z-index: 200;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sidebar-indexes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sidebar-index {
  font-size: 12px;
  color: #f0f0f0;
  text-decoration: none;
}
.sidebar-index:hover {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.indexer {
  height: 100vh;
  width: 20px;
  margin-left: 20px;
}
.line-full {
  height: 46vh;
  width: 5px;
  background-color: #1f293b;
}
.current-index {
  transform: rotate(90deg) translate(29px, 33px);
  color: #f0f0f0;
  margin-bottom: 60px;
  font-size: 12px;
  text-align: center;
  width: 70px;
}
.line-half {
  height: 42vh;
  width: 5px;
  background-color: #1f293b;
  position: relative;
}
.line-half-prev {
  height: 38vh;
  width: 5px;
  background-color: #1f293b;
  position: relative;
  top: 60px;
  margin-bottom: 60px;
}
.next-index {
  width: 20px;
  height: 5px;
  background-color: #1f293b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.prev-index {
  width: 20px;
  height: 5px;
  background-color: #1f293b;
  position: absolute;
  top: 0;
  left: 0;
}
.next-index-text {
  position: absolute;
  bottom: -5px;
  left: 30px;
  color: #f0f0f0;
  font-size: 12px;
}
.prev-index-text {
  position: absolute;
  top: -5px;
  left: 30px;
  color: #f0f0f0;
  font-size: 12px;
}
.link-img {
  width: 40px;
  cursor: pointer;
}
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote-text {
  font-size: 26px;
  color: #f0f0f0;
  font-family: Cookie;
  font-weight: 400;
}
.current-sidebar-index {
  font-weight: 700;
  font-size: 13px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 20px;
  padding-left: 130px;
  background-color: #0000;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(180deg, #1f293b, #0000);
}
.pages {
  display: flex;
  gap: 50px;
  padding-inline: 40px;
}
.page:hover {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.pages a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 13px;
}
.hero-profile {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  justify-content: space-between;
  padding: 30px;
  background-color: #374a6c20;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.othman-img {
  width: 350px;
}
.technos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 80px;
  width: 70%;
  background-color: #0000;
  backdrop-filter: blur(100px);
  border-radius: 10px;
  transform: translateY(-65px);
  padding: 10px;
  gap: 14px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.152);
}
.technos-inner {
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row-reverse;
  gap: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-grow: 1;
}
.technos-inner::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.techno {
  min-width: 60px;
  min-height: 60px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.techno:hover {
  background-color: #00000021;
  transition: 0.2s;
  cursor: pointer;
}
.techno-img {
  width: 100%;
}
.grower {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.more-technos {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #1f293b;
}
.more-technos-text {
  font-size: 16px;
  color: #f0f0f0;
}
.more-technos i {
  color: #f0f0f0;
  font-size: 20px;
}
.more-technos:hover {
  color: #fff;
  transition: 0.2s;
  background-color: #00000021;
}
.technos-title {
  position: absolute;
  top: -22px;
  left: 0;
  color: #f0f0f0;
  font-size: 12px;
  margin-left: 10px;
}
.section {
  min-height: 99vh;
  margin-left: 120px;
  width: calc(100% - 120px);
}
.fixed {
  width: fit-content;
  min-width: 120px;
  display: flex;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}
.hero-description {
  font-size: 14px;
  margin-top: 10px;
}
.hero-title {
  font-size: 40px;
}
.hero-subtitle {
  font-size: 21px;
}
.scroll-btn {
  font-size: 20px;
  background-color: #314466;
  height: 40px;
  width: 40px;
  color: #f0f0f0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
}
#up {
  position: fixed;
  top: 40px;
  right: 50%;
  z-index: 100;
  display: none;
  transform: translateX(50%);
}
.scroll-btn:hover {
  background-color: #1f293b;
  transition: 0.2s;
  cursor: pointer;
}
#down {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 100;
}
@keyframes index-text-animation {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}
.index-text {
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}
.main-card {
  background-color: #0000;
  backdrop-filter: 50px;
  box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.1);
  width: 80%;
  height: 100%;
  min-width: 500px;
  min-height: 300px;
  border-radius: 10px;
  position: relative;
  margin-top: 40px;
  padding: 20px;
}
.card-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 20px;
  max-height: 150px;
  width: 100%;
}
.card-desc {
  background-color: #2c3d5b;
  border-radius: 10px;
  padding: 10px;
  color: #f0f0f0;
  font-size: 15px;
  height: 150px;
}
.card-profile {
  background-image: url("./assets/othman-profile.JPG");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  min-width: 200px;
  min-height: 200px;
  background-color: #ddd;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.education {
  width: 60%;
  min-height: 300px;
  background-color: #2c3d5b;
  border-radius: 10px;
  padding: 20px;
  color: #f0f0f0;
}
.education-title {
  font-size: 23px;
}
.education-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}
.education-item-title {
  font-size: 15px;
  font-weight: bold;
}
.school-img {
  height: 22px;
}
.education-desc {
  font-size: 14px;
  color: #dddddd;
}
.techno-search {
  padding: 10px;
  background-color: #2c3d5b;
  border-radius: 10px;
  flex-grow: 1;
  height: 300px;
  padding: 20px;
  max-width: 40%;
  min-width: 40%;
  position: relative;
}
.techno-title {
  font-size: 23px;
  color: #f0f0f0;
}
.tech-search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}
.techno-search-inp {
  background-color: #374a6c;
  border-radius: 100px;
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #f0f0f0;
}
.techno-search-inp::placeholder {
  color: #f0f0f0;
  font-size: 12px;
}
.search-btn {
  border: none;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
}
.search-result {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  overflow-y: hidden;
  max-height: 170px;
  min-height: 170px;
  padding: 15px;
  width: 100%;
  padding-bottom: 50px;
}
.search-bottom {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0000;
  backdrop-filter: blur(20px);
}
.card-title {
  font-size: 20px;
  color: #f0f0f0;
}
/* Every projects should contain 2 x 2 cards*/
.project-cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 600px));
  gap: 20px;
}
.project-card {
  background-color: #314466;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  min-height: 250px;
  min-width: 500px;
  padding: 15px;
}
.project-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50%;
  gap: 10px;
}
.project-img {
  min-width: 200px;
  min-height: 100%;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}
.project-title {
  color: #f0f0f0;
  font-size: 20px;
}
.project-texts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.project-date {
  color: #dddddd;
  font-size: 13px;
}
.blob {
  filter: blur(20px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #1f293b;
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  overflow: hidden;
  padding: 5px;
  margin: 0;
  background: rgb(128 128 128 / 0);
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.inner {
  border-radius: 7px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: #314466;
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

.card:hover > .inner {
  background: #2c3d5b02;
  backdrop-filter: blur(80px);
}
.visit-project-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.visit-project {
  color: #fff;
  text-decoration: none;
}
.visit-btn {
  background-color: #1f293b;
  color: #f0f0f0;
  padding: 8px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
.visit-btn:hover {
  background-color: #314466;
  transition: 0.3s;
}
.project-desc {
  color: #dedede;
  font-size: 13px;
  padding: 10px;
  padding-inline: 0;
  padding-bottom: 4px;
}
.project-desc-add {
  font-size: 12px;
  color: #ccc;
}
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.card-technos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 7px;
}
.card-technos .tech- {
  margin-inline: 3px;
}
#lens-effect {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 70vw;
  height: 400px;
  border-radius: 50%;
  filter: blur(50px);
  background-color: rgba(176, 197, 255, 0.167);
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

#lens-effect2 {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 70vw;
  height: 400px;
  border-radius: 50%;
  filter: blur(50px);
  background-color: rgba(176, 197, 255, 0.167);
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

@keyframes lens-effect {
  0% {
    top: 50%;
  }
  49% {
    top: 100%;
  }
  50% {
    top: -100%;
  }
  100% {
    top: 50%;
  }
}
.profile-img {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 50%;
}
.profile-img .inner {
  padding: 0px;
  border-radius: 50%;
}
.education .inner {
  background-color: #314466;
}
