@media screen and (max-width: 1756px) {
  .techno-search {
    height: 360px;
  }
}
@media screen and (max-width: 1693px) {
  .techno-search {
    height: 383px;
  }
  .search-result {
    max-height: 240px;
  }
}
@media screen and (max-width: 1643px) {
  .techno-search {
    height: 406px;
  }
  .search-result {
    max-height: 260px;
  }
}
@media screen and (max-width: 1615px) {
  .techno-search {
    height: 426px;
  }
  .search-result {
    max-height: 280px;
  }
}
@media screen and (max-width: 1880px) {
  .repos img {
    height: 10vw;
  }
}
@media screen and (max-width: 1600px) {
  .card-header {
    max-height: 170px;
  }
  .card-desc {
    height: fit-content;
  }
  .project-card .tech- img {
    height: 26px;
  }
  .education-desc {
    font-size: 14px;
  }
  .project-cards {
    width: 88%;
  }
  .main-card {
    width: 88%;
  }
  .more-projects {
    font-size: 16px;
  }
  .visit-btn {
    font-size: 14px;
  }
}
@media screen and (min-width: 1451px) {
  .project-cards {
    transform: none;
  }
}

@media screen and (max-width: 1545px) {
  .project-desc {
    font-size: 14px;
  }
  .project-desc-add {
    font-size: 14px;
  }
}
@media screen and (max-width: 1450px) {
  .hero-profile {
    width: 80%;
  }
  .main-card {
    width: 90%;
  }
  .technos {
    width: 79%;
  }
  .project-cards {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 1424px) {
  .education-modal {
    width: 90%;
  }
}
@media screen and (max-width: 1343px) {
  .school-img {
    height: 15px;
  }
}
@media screen and (max-width: 1337px) {
  .repos img {
    height: 140px;
  }
  .titles {
    gap: 200px;
  }
  .github-title {
    font-size: 13px;
  }
  .github-link {
    font-size: 14px;
  }
  .github-count {
    font-size: 12px;
  }
}
@media screen and (max-width: 1372px) {
  .titles {
    gap: 260px;
  }
  .contacts {
    width: 100%;
  }
  #section6 {
    transform: scale(0.9);
    padding: 50px;
  }
}
@media screen and (max-width: 1350px) {
  .titles {
    gap: 240px;
  }
}
@media screen and (max-width: 1324px) {
  .titles {
    gap: 220px;
  }
}
@media screen and (max-width: 1288px) {
  .titles {
    gap: 200px;
  }
  .ag-courses-item_title {
    font-size: 19px;
  }
  .ag-courses-item_date-box {
    font-size: 15px;
  }
}
@media screen and (max-width: 1282px) {
  .about-desc {
    font-size: 14px;
  }
  .search-result img {
    height: 26px;
  }
}
@media screen and (max-width: 1258px) {
  .titles {
    gap: 180px;
  }
  .contacts {
    transform: scale(0.8);
    width: 120%;
  }
}
@media screen and (max-width: 1286px) {
  .repos img {
    height: 130px;
  }
}
@media screen and (max-width: 1277px) {
  .project-cards {
    transform: scale(0.85);
    width: 110%;
  }
}
@media screen and (max-width: 1244px) {
  .main-card {
    padding: 10px;
  }
  .education-desc {
    font-size: 13px;
  }
  .card-body {
    margin-top: 5px;
  }
  .about-desc {
    font-size: 13px;
  }
  .titles {
    gap: 150px;
  }
}
@media screen and (max-width: 1232px) {
  .education-part2,
  .education-program-desc {
    font-size: 14px;
  }
  .education-modal-desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 1228px) {
  .commits-img {
    height: 100px;
  }
}
@media screen and (max-width: 1205px) {
  .about-desc {
    font-size: 12px;
  }
  .education-desc-text {
    font-size: 12px;
  }
  .education-item-title {
    font-size: 14px;
  }
  .repos img {
    height: 120px;
  }
  .stats-container.flex {
    flex-direction: column;
    height: fit-content;
    max-height: unset;
  }
  .stats-container .commit-graph {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .titles .small-title:nth-of-type(2) {
    display: none;
  }
  .ag-courses_box {
    padding-inline: 0;
  }
}
@media screen and (max-width: 1095px) {
  .quote-text {
    font-size: 23px;
  }
  .pages {
    gap: 1rem;
  }
}
@media screen and (max-width: 1206px) {
  .github-fix:nth-of-type(1) {
    max-width: unset;
  }
}
@media screen and (max-width: 1120px) {
  #section6 {
    transform: scale(0.8);
    width: 110%;
    margin-left: 0;
  }
  .ag-format-container {
    min-height: 110vh;
  }
  .project-to-hide {
    display: none;
  }
  .project-cards {
    grid-template-columns: repeat(1, 1fr);
    width: 62%;
    scale: unset;
    transform: scale(1);
  }
  .profile-img.card {
    display: none;
  }
  .hero-profile {
    width: 85%;
  }
}
@media screen and (max-width: 1082px) {
  #section4 {
    transform: scale(0.8);
    width: 110%;
    margin-left: 0px;
  }
  .project-cards {
    width: 70%;
  }
  /* .main-card {
    transform: scale(0.85);
    width: 110%;
  } */
  .hero-profile {
    transform: scale(0.85);
    width: 110%;
  }
  .technos {
    scale: 0.9;
    width: 100%;
    transform: translateY(-100px);
  }
}
@media screen and (max-width: 1000px) {
  .card-body {
    flex-direction: column;
    gap: 10px;
  }
  .education {
    width: 100%;
  }
  .techno-search {
    max-width: unset;
    height: 225px;
  }
  .search-result {
    max-height: 100px;
    min-height: 100px;
  }
}
@media screen and (max-width: 979px) {
  #section4 {
    transform: scale(0.7);
  }
  .ag-courses_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 100vw;
  }
  .ag-courses_item {
    width: 90%;
  }
  .ag-format-container {
    margin-top: 110px;
  }
}
@media screen and (max-width: 932px) {
  .project-img {
    min-height: 100px;
  }
  .ag-format-container {
    min-height: 134vh;
  }
  .contact-big {
    font-size: 70px;
  }
}
@media screen and (max-width: 891px) {
  .quote-text {
    font-size: 20px;
  }
  .search-result img {
    height: 22px;
  }
}
@media screen and (max-width: 828px) {
  .fixed {
    display: none;
  }
  html {
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  body {
    overflow: scroll;
    scrollbar-width: none;
  }
  html::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 10px;
  }

  #up,
  #down {
    height: 0px;
    opacity: 0;
  }
  .project-cards {
    transform: scale(0.8);
  }
  .section {
    margin-left: 0px !important;
    transform: scale(1) !important;
    width: 99vw;
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    min-width: unset;
    width: 100%;
  }
  .mobile-index {
    display: block;
  }
  .ag-format-container {
    min-height: unset;
  }
  .ag-courses_item {
    flex-basis: calc(45.333% - 20px) !important;
    height: 160px;
    max-width: 220px !important;
    max-height: 135px;
  }
  .ag-courses-item_title {
    font-size: 15px;
  }
  .ag-courses-item_date {
    font-size: 12px;
  }
  .ag-courses-item_date-box {
    font-size: 13px;
  }
  .project-card {
    max-height: 300px;
  }
  .project-card-header {
    height: 55%;
  }
  .project-btns {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  .project-texts {
    gap: 4px;
  }
  #section4 {
    max-height: unset;
    min-height: unset;
    width: 100% !important;
  }
  body {
    overflow: scroll;
  }
  .ag-courses_item {
    flex-basis: calc(33.333% - 20px);
  }
  .header {
    padding-left: 30px;
  }
  #section4 {
    transform: scale(0.8) translateX(-90px);
    width: 120vw;
    min-height: 100vh;
    max-height: 100vh;
  }
  #section6 {
    transform: scale(0.8) translateX(-90px);
    width: 100vw;
    padding: 30px;
  }
  .contact-big {
    font-size: 50px;
  }
  .contacts {
    width: 120%;
    transform: scale(0.8);
    gap: 5px;
  }
  .contact {
    width: 150px;
    height: 164px;
  }
  .contact-icon i {
    font-size: 50px;
  }
  .contact-title {
    font-size: 15px;
  }
  .contact-info {
    font-size: 12px;
  }
  .project-cards {
    transform: scale(0.7);
    width: 130vw;
  }
  #section3 {
    padding-bottom: 40px;
  }
  .ag-format-container {
    margin-top: 0;
  }
  .main-card {
    margin-top: 0px;
  }
  .project-cards {
    margin-top: -60px;
  }
}
@media screen and (max-width: 785px) {
  .education {
    width: unset;
    min-height: unset;
  }
  .education .inner {
    min-height: unset;
  }
  .techno-search {
    max-width: unset;
    min-height: unset;
  }
  .card-body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  #section4 {
    max-height: unset;
  }
  .project-cards {
    width: 140vw;
  }
  .pages {
    gap: 0.7rem;
    padding-inline: 10px;
  }
  .contacts {
    display: none;
  }
  .contacts-mobile {
    display: grid;
  }
  .copy-text {
    text-align: center;
  }
}

@media screen and (max-width: 712px) {
  .profile-img {
    display: none;
  }
  .education {
    width: unset;
    min-height: unset;
  }
  .education .inner {
    min-height: unset;
  }
  .techno-search {
    max-width: unset;
    min-height: unset;
  }
  .card-body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    position: relative;
    justify-items: center;
    transform: none !important;
    min-width: unset;
    width: unset;
  }
  .project-cards {
    margin-top: 30px;
  }
  .card-title {
    font-size: 20px;
  }
  .about-desc {
    font-size: 14px;
  }
  .education-desc-text {
    font-size: 14px;
  }
  .ag-courses_item {
    max-width: unset !important;
  }
  .pages a {
    font-size: 12px;
  }
  .pages a:hover {
    font-size: 12px;
  }
}

@media screen and (max-width: 649px) {
  .quote-text {
    display: none;
  }
  .pages {
    width: 100%;
    justify-content: space-evenly;
  }
}
