@import url("https://fonts.cdnfonts.com/css/euclid-circular-a");
* {
  font-family: "Euclid Circular A", "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
body {
  background-color: #314466;
  box-shadow: inset 0 0 150px 10px rgba(0, 0, 0, 0.51);
  overflow: hidden;
}
.side-bar {
  background-color: #1f293b;
  color: #f0f0f0;
  width: 70px;
  min-height: 100vh;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.51);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
  z-index: 200;
}
.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sidebar-indexes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.sidebar-index {
  font-size: 12px;
  color: #f0f0f0;
  text-decoration: none;
  cursor: pointer;
}
.sidebar-index:hover {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.indexer {
  height: 100vh;
  width: 20px;
  margin-left: 20px;
}
.line-full {
  height: 46vh;
  width: 5px;
  background-color: #1f293b;
}
.current-index {
  transform: rotate(90deg) translate(29px, 33px);
  color: #f0f0f0;
  margin-bottom: 60px;
  font-size: 12px;
  text-align: center;
  width: 70px;
}
.line-half {
  height: 42vh;
  width: 5px;
  background-color: #1f293b;
  position: relative;
}
.line-half-prev {
  height: 38vh;
  width: 5px;
  background-color: #1f293b;
  position: relative;
  top: 60px;
  margin-bottom: 60px;
}
.next-index {
  width: 20px;
  height: 5px;
  background-color: #1f293b;
  position: absolute;
  bottom: 0;
  left: 0;
}
.prev-index {
  width: 20px;
  height: 5px;
  background-color: #1f293b;
  position: absolute;
  top: 0;
  left: 0;
}
.next-index-text {
  position: absolute;
  bottom: -5px;
  left: 30px;
  color: #f0f0f0;
  font-size: 12px;
  cursor: pointer;
}
.next-index-text:hover {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.prev-index-text {
  position: absolute;
  top: -5px;
  left: 30px;
  color: #f0f0f0;
  font-size: 12px;
  cursor: pointer;
}
.prev-index-text:hover {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.link-img {
  width: 40px;
  cursor: pointer;
}
.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quote-text {
  font-size: 26px;
  color: #f0f0f0;
  font-family: Cookie;
  font-weight: 400;
}
.current-sidebar-index {
  font-weight: 700;
  font-size: 13px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 20px;
  padding-left: 130px;
  background-color: #0000;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: linear-gradient(180deg, #1f293b, #0000);
}
.pages {
  display: flex;
  gap: 50px;
  padding-inline: 40px;
}
.page {
  cursor: pointer;
}
.page:hover {
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  transition: 0.2s;
}
.pages a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 13px;
}
.hero-profile {
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  justify-content: space-between;
  padding: 30px;
  background-color: #374a6c20;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.othman-img {
  width: 350px;
}
.technos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 80px;
  width: 70%;
  background-color: #0000;
  backdrop-filter: blur(100px);
  border-radius: 10px;
  transform: translateY(-65px);
  padding: 10px;
  gap: 14px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.152);
}
.technos-inner {
  display: flex;
  align-items: center;
  height: 70px;
  flex-direction: row-reverse;
  gap: 14px;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-grow: 1;
}
.technos-inner::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.techno {
  min-width: 60px;
  min-height: 60px;
  max-width: 60px;
  max-height: 60px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.techno:hover {
  background-color: #00000021;
  transition: 0.2s;
  cursor: pointer;
}
.techno-img {
  width: 100%;
}
.grower {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.more-technos {
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: center;
  height: 60px;
  width: 90px;
  cursor: pointer;
  border-radius: 18px;
  background-color: #1f293b;
}
.more-technos-text {
  font-size: 10px;
  color: #f0f0f0;
}
.more-technos i {
  color: #f0f0f0;
  font-size: 20px;
}
.more-technos:hover {
  color: #fff;
  transition: 0.2s;
  background-color: #00000021;
}
.technos-title {
  position: absolute;
  top: -22px;
  left: 0;
  color: #f0f0f0;
  font-size: 12px;
  margin-left: 10px;
}
.section {
  min-height: 99vh;
  margin-left: 120px;
  width: calc(100% - 120px);
}
.fixed {
  width: fit-content;
  min-width: 120px;
  display: flex;
  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}
.hero-description {
  font-size: 16px;
  margin-top: 10px;
}
.hero-title {
  font-size: 40px;
}
.hero-subtitle {
  font-size: 21px;
}

.scroll-btn {
  font-size: 20px;
  background-color: #314466;
  height: 40px;
  width: 40px;
  color: #f0f0f0;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.2);
}
#up {
  position: fixed;
  top: 40px;
  right: 50%;
  z-index: 100;
  display: none;
  transform: translateX(50%);
}
.scroll-btn:hover {
  background-color: #1f293b;
  transition: 0.2s;
  cursor: pointer;
}
#down {
  position: fixed;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 100;
}
@keyframes index-text-animation {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(100px);
  }
  100% {
    filter: blur(0px);
  }
}
.index-text {
  animation-duration: 0.3s;
  animation-fill-mode: backwards;
}
.main-card {
  background-color: #0000;
  backdrop-filter: 50px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  width: 80%;
  height: 100%;
  min-width: 500px;
  min-height: 300px;
  border-radius: 10px;
  position: relative;
  margin-top: 40px;
  padding: 10px;
}
.card-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 20px;
  max-height: 150px;
  width: 100%;
}
.card-desc {
  background-color: #2c3d5b;
  border-radius: 10px;
  padding: 10px;
  color: #f0f0f0;
  font-size: 15px;
  height: 150px;
}
.card-profile {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  min-width: 200px;
  min-height: 200px;
  background-color: #ddd;
}
.card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.education {
  width: 60%;
  min-height: 300px;
  background-color: #2c3d5b;
  border-radius: 10px;
  padding: 20px;
  color: #f0f0f0;
}
.education-title {
  font-size: 20px;
  font-weight: 700;
}
.education-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 5px;
}
.education .inner {
  min-height: 290px;
}
.education-item-title {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
}
.school-img {
  height: 20px;
}
.education-desc {
  font-size: 16px;
  color: #dddddd;
}
.education-item-desc {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  flex-wrap: wrap;
  font-size: 16px;
}
.techno-search {
  padding: 10px;
  background-color: #2c3d5b;
  border-radius: 10px;
  flex-grow: 1;
  height: 340px;
  padding: 20px;
  max-width: 40%;
  min-width: 40%;
  position: relative;
}
.techno-title {
  font-size: 20px;
  font-weight: 700;
  color: #f0f0f0;
}
.tech-search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 5px;
  margin-top: 10px;
}
.techno-search-inp {
  background-color: #374a6c;
  border-radius: 100px;
  height: 40px;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
  color: #f0f0f0;
}
.techno-search-inp::placeholder {
  color: #f0f0f0;
  font-size: 14px;
}
.search-btn {
  border: none;
  border-radius: 50%;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
}
.search-result {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  overflow-y: hidden;
  max-height: 170px;
  min-height: 170px;
  padding: 15px;
  width: 100%;
  padding-bottom: 50px;
}
.search-bottom {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0000;
  backdrop-filter: blur(20px);
}
.card-title {
  font-size: 17px;
  color: #f0f0f0;
  font-weight: 700;
  margin-bottom: 5px;
}
.stats-title {
  font-size: 24px;
  color: #f0f0f0;
  font-weight: 700;
}
/* Every projects should contain 2 x 2 cards*/
.project-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  width: 80%;
}
.experience-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  width: 80%;
}
.more-projects {
  background-color: #374a6c;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  position: absolute;
  right: 0;
  bottom: -40px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
.more-exp {
  background-color: #374a6c;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  position: absolute;
  right: 0;
  bottom: -55px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
.about-desc {
  font-size: 16px;
  text-indent: 10px;
}
.education .inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 7px;
}
.education-set {
  background-color: #31446620;
  padding: 5px;
  margin: 5px;
  padding-inline: 10px;
  border-radius: 7px;
  transition: 0.5s;
  position: relative;
}
.scaler {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  padding: 5px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 4px;
  background-color: #2c3d5b;
  transition: 0.3s;
}
.scaler:hover {
  background-color: #000;
  cursor: pointer;
}
/* .education-set:hover {
  background-color: #314466;
} */
.link-prm {
  color: #f0f0f0;
}
.more-projects:hover {
  background-color: #1f293b;
  transition: 0.3s;
}
.more-projects-link {
  text-decoration: none;
  color: #fff;
}
.project-card {
  background-color: #314466;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  min-height: 280px;
  max-height: 320px;
  min-width: 420px;
  padding: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.experience-card {
  background-color: #314466;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  min-height: 600px;
  max-height: 680px;
  min-width: 420px;
  padding: 15px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project-card .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.project-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50%;
  gap: 10px;
}
.experience-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 50%;
  gap: 10px;
}
.project-card-bottom {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.project-img {
  min-width: 200px;
  height: 100%;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}
.experience-img {
  min-width: 200px;
  min-height: 50%;
  width: 100%;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
}
.project-title {
  color: #f0f0f0;
  font-size: 25px;
}
.project-texts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}
.project-date {
  color: #dddddd;
  font-size: 13px;
}
.blob {
  filter: blur(20px);
  position: absolute;
  z-index: -1;
  top: 0;
  opacity: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #1f293b;
  transition: all 300ms ease-in-out;
}

.fakeblob {
  display: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.card {
  overflow: hidden;
  padding: 5px;
  margin: 0;
  background: rgb(128 128 128 / 0);
  border-radius: 10px;
  position: relative;
  transition: all 300ms ease-in-out;
}

.inner {
  border-radius: 7px;
  padding: 15px;
  width: 100%;
  height: 100%;
  background: #314466;
  backdrop-filter: blur(80px);
  transition: all 300ms ease-in-out;
}

.card:hover > .inner {
  background: #2c3d5b02;
  backdrop-filter: blur(80px);
}
.visit-project-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.visit-project {
  color: #fff;
  text-decoration: none;
}
.visit-btn {
  background-color: #1f293b;
  color: #f0f0f0;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  padding: 5px;
  padding-inline: 10px;
}
.visit-btn:hover {
  background-color: #000000;
  transition: 0.3s;
}
.project-card .tech- img {
  height: 32px;
}
.project-desc {
  color: #dedede;
  font-size: 16px;
  padding: 10px;
  padding-inline: 0;
  padding-bottom: 4px;
}
.project-desc-add {
  font-size: 16px;
  color: #ccc;
}
.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.card-technos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 7px;
}
.card-technos .tech- {
  margin-inline: 3px;
}
#lens-effect {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 70vw;
  height: 400px;
  border-radius: 50%;
  filter: blur(50px);
  background-color: rgba(176, 197, 255, 0.167);
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

#lens-effect2 {
  position: fixed;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  z-index: -100;
  width: 70vw;
  height: 400px;
  border-radius: 50%;
  filter: blur(50px);
  background-color: rgba(176, 197, 255, 0.167);
  animation-duration: 0.4s;
  animation-timing-function: linear;
}

@keyframes lens-effect {
  0% {
    top: 50%;
  }
  49% {
    top: 100%;
  }
  50% {
    top: -100%;
  }
  100% {
    top: 50%;
  }
}
.profile-img {
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  border-radius: 50%;
}
.profile-img .inner {
  padding: 0px;
  border-radius: 50%;
}
.education .inner {
  background-color: #314466;
}

.ag-format-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 50px 20px;
}
.mobile-index {
  color: #f0f0f0;
  font-size: 20px;
  font-weight: bold;
  display: none;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;

  height: 160px;
  width: 240px;
}
.ag-courses-item_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
  background-color: #374a6c;

  overflow: hidden;

  position: relative;
  height: 100%;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  overflow: hidden;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  position: relative;
  font-size: 22px;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.ag-courses-item_bg {
  height: 120px;
  width: 120px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

.ag-courses_item:nth-child(7n) .ag-courses-item_bg {
  background-color: #000;
}

.ag-courses_item:nth-child(8n) .ag-courses-item_bg {
  background-color: #4e4e4e;
}

.ag-courses_item:nth-child(9n) .ag-courses-item_bg {
  background-color: #3ec1cd;
}

@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}
.commit-graph {
  background-color: #1f293b;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  flex-grow: 1;
  cursor: pointer;
  height: 83%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.commits-img {
  width: 100%;
}
.small-title {
  color: #f0f0f0;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 2px;
  padding-left: 10px;
}
.github-stat {
  width: 100%;
}
.github-stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.flex {
  display: flex;
}
.titles {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 284px;
}
.stats-container {
  width: 100%;
  gap: 10px;
}
.github-acc {
  background-color: #1f293b;
  border-radius: 10px;
  padding: 5px;
  flex-grow: 1;
  height: calc(100% - 35px);
}
.personal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}
.perso-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.perso-username {
  font-size: 15px;
  color: #f0f0f0;
}
.github-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 7px;
  width: 100%;
}
.github-title {
  font-size: 18px;
}
.github-count {
  font-size: 16px;
  color: #999;
}
.github-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f0f0f0;
  width: 100%;
  font-size: 20px;
}
.github-link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.repos img {
  width: fit-content;
  height: 197px;
  border-radius: 15px;
  margin: 10px;
  margin-inline: 5px;
}
.repos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  scrollbar-width: none;
  overflow-x: scroll;
  padding: 0;
  padding-inline: 4px;
  border-radius: 20px;
}
#section5 {
  transform: scale(0.9);
}
.contacts {
  display: flex;
  height: 300px;
  width: 100%;
  align-items: start;
  justify-content: space-evenly;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #374a6c50;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  height: 190px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
}
.contact .inner {
  background-color: #31446650;
}
.contact:hover {
  height: 300px;
  transition: 0.5s;
}
.carret-down {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #374a6c;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .inner {
  overflow: hidden;
}
.carret-down i {
  font-size: 20px;
}
.contact-icon i {
  font-size: 70px;
  color: #374a6c;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 50%;
}
.contact-icon {
  margin-top: 20px;
  margin-bottom: 25px;
}
.contact-title {
  font-size: 20px;
}
.contact-info {
  font-size: 14px;
}
.contact-info,
.contact-info a {
  color: #b1b1b1;
  text-decoration: none;
}
.contact-btn {
  background-color: #374a6c;
  color: #fff;
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.contact-text a {
  text-decoration: none;
}
.contact-btn:hover {
  background-color: #3f567e;
  transition: 0.3s;
}
#section7 {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
.contact- {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  flex-direction: column;
}
.contact-big {
  font-size: 80px;
  color: #fff;
  text-shadow: 10px 10px 0px #244a82;
}
.contact-small {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-shadow: 5px 5px 0px #244a82;
}
.sidebar-link {
  background-color: #fff;
  color: #1f293b;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  height: 45px;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 0 0 3px #1f293b, 0 0 0 1px #fff;
}
.sidebar-link:hover {
  box-shadow: 0 0 0 2px #1f293b, 0 0 0 4px #fff;
  transition: 0.2s;
}
@keyframes select-card {
  0% {
    box-shadow: 0 0 0 0 #fff0;
  }
  20% {
    box-shadow: 0 0 40px 4px #fff5;
  }
  40% {
    box-shadow: 0 0 0 0 #fff0;
  }
  60% {
    box-shadow: 0 0 40px 4px #fff5;
  }
  80% {
    box-shadow: 0 0 0 0 #fff0;
  }
  100% {
    box-shadow: 0 0 0 0 #fff0;
  }
}
.copy-text {
  color: #f0f0f0;
}
#orientation {
  display: none;
}
#phone-warning {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  background-color: #2c3d5b;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  gap: 12px;
}
.notification {
  background-color: #2c3d5b;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  min-width: 350px;
  gap: 12px;
  animation-duration: 5s;
}
.warning-text {
  font-size: 13px;
  width: 100%;
}
.warning-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
  color: #697c9c;
}
.note-close {
  background-color: #0000;
  border: none;
  color: #697c9c;
  height: 40px;
}
.note-close:hover {
  color: #f0f0f0;
  cursor: pointer;
}
.notification-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column-reverse;
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 350px;
  height: fit-content;
  min-height: 0px;
  gap: 10px;
}
@keyframes notification {
  0% {
    display: flex;
    transform: translateY(100vh);
    opacity: 1;
  }
  5% {
    display: flex;
    transform: none;
    opacity: 1;
  }
  98% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.contacts-mobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  display: none;
}
.contact-mobile {
  background-color: #374a6c50;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  justify-content: space-between;
}
.contact-mobile .contact-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-mobile .contact-title {
  font-size: 15px;
  color: #f0f0f0;
}
.education-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 80%;
  height: fit-content;
  background-color: #314466ee;
  border-radius: 15px;
  z-index: 100;
  align-items: center;
  justify-content: center;
  padding: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  z-index: 1002;
}
#youcode {
  display: none;
}
.education-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  width: 100%;
  color: #fff;
}
.education-close {
  background-color: #0000;
  border: none;
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 45px;
  height: 45px;
}
.education-close:hover {
  color: #f0f0f0;
  background-color: #1f293b;
  transition: 0.4s;
}
.education-part1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.swiper {
  width: 35%;
  height: 270px;
}
.swiper-text {
  width: 60%;
}
.education-modal-desc {
  font-size: 16px;
  line-height: 1.5;
  color: #f0f0f0;
}
.education-modal-title {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.education-program-title {
  font-size: 20px;
  color: #fff;
  margin-top: 7px;
  margin-bottom: 7px;
}
.education-part2 {
  padding: 7px;
  color: #f0f0f0;
  margin-top: 15px;
  line-height: 1.4;
  padding-inline: 50px;
}
.education-list {
  margin-left: 20px;
}
.education-subtitle {
  font-size: 20px;
}
#slide1-youcode {
  background-image: url("../assets/schools/swiper/youcode/slide5.jpg");
  background-size: cover;
  background-position: center;
}
#slide2-youcode {
  background-image: url("../assets/schools/swiper/youcode/slide2.jpg");
  background-size: cover;
  background-position: center;
}
#slide3-youcode {
  background-image: url("../assets/schools/swiper/youcode/slide3.jpg");
  background-size: cover;
  background-position: center;
}
#slide4-youcode {
  background-image: url("../assets/schools/swiper/youcode/slide4.jpg");
  background-size: cover;
  background-position: center;
}
#slide5-youcode {
  background-image: url("../assets/schools/swiper/youcode/slide1.jpg");
  background-size: cover;
  background-position: center;
}
#slide1-e {
  background-image: url("../assets/schools/swiper/e-learn/freecodecamp.png");
  background-size: cover;
  background-position: center;
}
#slide2-e {
  background-image: url("../assets/schools/swiper/e-learn/cert.png");
  background-size: cover;
  background-position: center;
}
#slide3-e {
  background-image: url("../assets/schools/swiper/e-learn/codecade.png");
  background-size: cover;
  background-position: center;
}
#protection {
  width: 100%;
  height: 100%;
  background-color: #00000099;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: none;
}
.learn-more {
  color: #f0f0f0;
  font-size: 15px;
}
.learn-more a {
  color: #f0f0f0;
}
.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #314466;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 4s;
}
.loader {
  font-size: 48px;
  color: #fff;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  background-color: currentcolor;
  position: relative;
  border-radius: 50%;
  transform: rotateX(-60deg) perspective(1000px);
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  animation: flowerFlow 1s ease-out infinite;
}
.loader:after {
  animation-delay: 0.4s;
}

@keyframes flowerFlow {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    box-shadow: 0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor,
      0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor,
      0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor,
      0 0 0 -0.5em currentcolor, 0 0 0 -0.5em currentcolor;
  }
  100% {
    opacity: 0;
    transform: rotate(180deg);
    box-shadow: -1em -1em 0 -0.35em currentcolor,
      0 -1.5em 0 -0.35em currentcolor, 1em -1em 0 -0.35em currentcolor,
      -1.5em 0 0 -0.35em currentcolor, 1.5em -0 0 -0.35em currentcolor,
      -1em 1em 0 -0.35em currentcolor, 0 1.5em 0 -0.35em currentcolor,
      1em 1em 0 -0.35em currentcolor;
  }
}

.loading-text {
  color: #fff;
  margin: 7px;
}
.icon {
  position: relative;
  overflow: hidden;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/*---
  shine animation
---*/

.icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/*---
  hover trigger
---*/

.icon:hover:after {
  opacity: 1;
  top: 0%;
  left: 100%;
  transition-property: left, top, opacity;
  transition-duration: 1s, 1s, 0.5s;
  transition-timing-function: ease;
}

/*---
  active state
---*/

.icon:active:after {
  opacity: 0;
}
.github-fix:nth-of-type(1) {
  max-width: 400px;
}
.github-fix {
  width: 100%;
  color: #fff;
}
.stat-title {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.flex-lists {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 100px;
}
#codecademy {
  display: none;
}
.welcome {
  color: #f0f0f0;
}
.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 24ch;
  animation: typing 2s steps(28), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.tuto {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #00000099;
}
#tutorial {
  display: none;
}
.step {
  background-color: #314466;
  color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 500px;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  z-index: 100000000;
}

@keyframes highlight {
  0% {
    box-shadow: 0 0 0 0 #0000;
  }
  20% {
    box-shadow: 0 0 20px 4px #f0f0f090;
  }
  60% {
    box-shadow: 0 0 0 0 #0000;
  }
  80% {
    box-shadow: 0 0 40px 4px #f0f0f090;
  }
  100% {
    box-shadow: 0 0 0 0 #0000;
  }
}
.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}
.next {
  background-color: #1f293b;
  color: #f0f0f0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.next:hover {
  background-color: #314466;
  transition: 0.3s;
}
#includes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.includes-img {
  height: 100px;
}
.skip {
  background-color: #323438;
  color: #f0f0f0;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-right: 7px;
}
.skip:hover {
  background-color: #314466;
  transition: 0.3s;
}
.dev-alert-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: #0008;
}
.dev-alert {
  background-color: #314466;
  color: #f0f0f0;
  width: 500px;
  padding: 8px;
  border-radius: 7px;
}
.p1 i {
  font-size: 20px;
}
.close {
  background-color: transparent;
  color: #f0f0f0;
  border: none;
  font-size: 25px;
}
.close:hover {
  color: #fff;
  cursor: pointer;
}
.dev-alert-title {
  font-size: 18px;
  margin: 5px;
}
.p1 {
  display: flex;
  align-items: center;
  gap: 7px;
}
.dev-alert-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-inline: 15px;
}
.dev-alert-title {
  font-size: 20px;
  padding-inline: 5px;
}
.dev-alert-desc {
  font-size: 15px;
  padding-inline: 10px;
}
.alert-tip {
  padding-inline: 10px;
  font-size: 15px;
  margin-top: 4px;
}
.alert-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 15px;
  margin-top: 10px;
}
.ok {
  background-color: #1f293b;
  color: #fff;
  padding: 10px;
  border: none;
  padding-inline: 40px;
  border: solid 2px;
  border-color: #1f293b;
}
.ok:hover {
  background-color: #314466;
  transition: 0.3s;
  cursor: pointer;
  border-color: #f0f0f0;
}
.header-closer {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
}
.header-closer:hover {
  transition: 0.3s;
  background-color: #1f293b;
}
.header-closer .close {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.projects-header {
  height: fit-content;
  margin: 10px;
  background-color: #2c3d5b;
  backdrop-filter: blur(80px);
  padding: 7px;
  border-radius: 6px;
  width: 80%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #0002;
  border-radius: 7px;
}
.blocker:hover {
  cursor: pointer;
  transition: 0.5s;
  opacity: 1;
  backdrop-filter: blur(50px);
}
.projects-search {
  width: 32%;
}
.projects-sort {
  width: 30%;
}
.projects-filter {
  flex-grow: 0.5;
}
.projects-small {
  color: #fff;
  font-size: 14px;
}
.projects-search-inp {
  background-color: #314466;
  border: none;
  padding: 5px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  color: #fff;
  padding-left: 10px;
  margin-top: 5px;
}
.sort-options {
  margin-top: 5px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.sort-option {
  background-color: #314466;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 5px;
  padding-inline: 7px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}
.spliter {
  background-color: #3e5274;
  height: 55px;
  width: 2px;
  border-radius: 5px;
}
.status-text {
  font-size: 14px;
}
.speed {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.speed-test {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#time {
  font-size: 13px;
}